<a href="https://colab.research.google.com/github/vvega7/Chanel7/blob/main/Calidad_de_vida.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Libraries

import numpy as np
import pandas as pd

In [2]:
# Save the path o the file
p = '/content/Vida.xlsx'

# Read the file
d = pd.read_excel(p)

#check
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Year                            147 non-null    int64
 1   Rank                            147 non-null    int64
 2   Country                         147 non-null    object
 3   Quality of Life Index           147 non-null    float64
 4   Purchasing Power Index          147 non-null    float64
 5   Safety Index                    147 non-null    float64
 6   Health Care Index               147 non-null    float64
 7   Cost of Living Index            147 non-null    float64
 8   Property Price to Income Ratio  147 non-null    float64
 9   Traffic Commute Time Index      147 non-null    float64
 10  Pollution Index                 147 non-null    float64
 11  Climate Index                   147 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 13.9+ KB

In [3]:
d.head()

,Year,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,2018,1,Denmark,197.7,117.5,78.0,77.1,93.3,7.2,28.5,23.6,82.4
1,2018,2,Finland,195.3,119.4,76.3,75.4,81.7,7.5,33.2,12.1,58.6
2,2018,3,Netherlands,191.3,109.5,71.1,81.1,82.7,6.7,32.7,27.2,86.9
3,2018,4,Switzerland,190.8,126.1,78.2,71.7,131.4,10.9,29.3,23.0,79.8
4,2018,5,Austria,190.2,98.7,79.6,78.8,81.5,9.6,27.0,22.9,77.7

In [4]:
d.tail()

,Year,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
142,2022,83,Venezuela,77.4,15.4,16.4,39.3,43.2,14.4,34.1,75.4,99.9
143,2022,84,Sri Lanka,67.9,19.3,58.8,72.1,31.3,46.0,57.1,60.2,59.1
144,2022,85,Bangladesh,67.6,25.3,36.6,42.3,33.1,13.5,55.9,85.0,71.3
145,2022,86,Iran,64.9,18.0,50.9,52.3,37.4,33.0,47.1,75.4,65.7
146,2022,87,Nigeria,52.4,9.3,36.2,48.5,30.5,16.1,62.0,88.3,60.8